@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:ital,wght@0,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}

.modal {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  width: 500px;
  margin: auto;
  top: 100px;
  transition: all 0.3s ease;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
